<footer class="bg-light py-4 mt-5">
  <div class="container text-center">
    <div class="f-info-socials mb-2">
      <a href="#"><i class="fa-brands fa-facebook text-black mx-2"></i></a>
      <a href="#"><i class="fa-brands fa-instagram text-black mx-2"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin text-black mx-2"></i></a>
    </div>
    <div class="f-info-brand mb-2">&copy; VistaraStay Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" class="mx-2">Privacy</a>
      <a href="/terms" class="mx-2">Terms</a>
    </div>
  </div>
</footer>
