<% layout('layout/boilerplate') %>

<div class="row justify-content-center">
  <div class="col-8">
    <h3 class="mb-4">Create New Listing</h3>
    <form action="/listings" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Enter Catchy title" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" id="description" name="listing[description]" rows="3" placeholder="Enter your description" required></textarea>
      </div>
      <div class="row">
      <div class="mb-3 col-md-4" >
        <label for="price" class="form-label">Price (₹/night):</label>
        <input type="number" class="form-control" id="price" name="listing[price]" placeholder="1200" required>
      </div>
      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country:</label>
        <input type="text" class="form-control" id="country" name="listing[country]" placeholder="Jaipur,Rajasthan" required>
      </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" id="location" name="listing[location]" placeholder="Enter location" required>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
        <input type="url" class="form-control" id="image" name="listing[image]" placeholder="Enter image URL" required>
      </div>

      <button type="submit" class="btn btn-add">Add New Listing</button>
      <br><br>
    </form>
  </div>
</div>
